body {
  background-color: #F8F9FA;
  /* position: relative; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  padding-top: 0.67em;
  padding-bottom: 0.67em;
}

h3, p {
    padding: 1em 0em;
}


#page-1 {
  margin-top: 3rem !important;
}

